@model ProjectSucess.Models.TotalProduct

<h4>Product Details:</h4>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="row">
    <div class="col-md-8">
        @if (Model.ImageName != null)
        {
            <img src="~/Images/@Model.ImageName" class="img-fluid img-thumbnail" width="400" height="200" />
        }
        else
        {
            <img src="~/Images/bike-default.png" class="img-fluid img-thumbnail" width="400" height="200" />
        }
    </div>
    <div class="col-md-4">
        <h6>Info:</h6>
        <hr />
        Product Id: @Model.ProductId <br />
        Product Name: @Model.ProductName <br />
        Product Price  @Model.ProductPrice  <br />
        Product Stock  @Model.Stock  <br />
        M.F.D  @Model.Manufacture  <br />
        E.X.P  @Model.Expire  <br />

    </div>
</div>



